In [8]:
import pandas as pd

df = pd.read_csv("../data/ml-latest/movies.csv")

df["genres"]

0        Adventure|Animation|Children|Comedy|Fantasy
1                         Adventure|Children|Fantasy
2                                     Comedy|Romance
3                               Comedy|Drama|Romance
4                                             Comedy
                            ...
86532                                   Action|Drama
86533                                  Action|Horror
86534                                    Documentary
86535                                 Crime|Thriller
86536                                    Documentary
Name: genres, Length: 86537, dtype: object

In [9]:
df2 = pd.read_csv("../data/ml-latest/ratings.csv")

In [10]:
df2[df2["userId"]== 37]

      userId  movieId  rating   timestamp
3529      37       47     5.0  1578167234
3530      37      165     4.0  1578164102
3531      37      293     5.0  1578165504
3532      37      318     5.0  1578167144
3533      37      480     4.0  1578166074
...      ...      ...     ...         ...
3626      37   208205     0.5  1578182179
3627      37   208703     5.0  1579355120
3628      37   214644     4.0  1629836086
3629      37   228563     4.5  1619897189
3630      37   242364     3.0  1629842871

[102 rows x 4 columns]

In [ ]:
df3 = pd.read_csv("../data/ml-latest/tags.csv")

df3

In [25]:
ltrbxd = pd.read_csv("../data/letterboxd-lddec-2025-03-24-09-32-utc/ratings.csv", index_col=0)

ltrbxd = ltrbxd.drop(columns=["Letterboxd URI"])


ltrbxd

                                Name  Year  Rating
Date
2020-08-25              Interstellar  2014     5.0
2020-08-25               Jojo Rabbit  2019     4.0
2020-08-25                  Parasite  2019     5.0
2020-08-25           The Dark Knight  2008     5.0
2020-08-25               Baby Driver  2017     3.5
...                              ...   ...     ...
2025-03-11           Cinema Paradiso  1988     3.5
2025-03-11  The Theory of Everything  2014     4.0
2025-03-16                       Her  2013     4.5
2025-03-18             The Holdovers  2023     4.0
2025-03-19        The Princess Bride  1987     4.5

[467 rows x 3 columns]