In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("../data/steam-200k.csv", index_col=0, names=["UserID","Game","Activity","Value","Unused"])


df2 = pd.read_csv("../data/user_personalized_features.csv")

In [14]:
df[df["Game"] == "Spore"].head(20)

            Game  Activity  Value  Unused
UserID
151603712  Spore  purchase    1.0       0
151603712  Spore      play   14.9       0
53875128   Spore  purchase    1.0       0
53875128   Spore      play    0.5       0
181608676  Spore  purchase    1.0       0
181608676  Spore      play  254.0       0
176539817  Spore  purchase    1.0       0
176539817  Spore      play   15.5       0
136135322  Spore  purchase    1.0       0
136135322  Spore      play    6.8       0
69009454   Spore  purchase    1.0       0
69009454   Spore      play    2.2       0
24469287   Spore  purchase    1.0       0
24469287   Spore      play    6.6       0
111754806  Spore  purchase    1.0       0
111754806  Spore      play    0.3       0
84236369   Spore  purchase    1.0       0
84236369   Spore      play  265.0       0
96282673   Spore  purchase    1.0       0
105384518  Spore  purchase    1.0       0

In [17]:
df2

,Unnamed: 0,User_ID,Age,Gender,Location,Income,Interests,Last_Login_Days_Ago,Purchase_Frequency,Average_Order_Value,Total_Spending,Product_Category_Preference,Time_Spent_on_Site_Minutes,Pages_Viewed,Newsletter_Subscription
0,0,#1,56,Male,Suburban,38037,Sports,5,7,18,2546,Books,584,38,True
1,1,#2,46,Female,Rural,103986,Technology,15,7,118,320,Electronics,432,40,False
2,2,#3,32,Female,Suburban,101942,Sports,28,1,146,3766,Apparel,306,1,True
3,3,#4,60,Female,Suburban,71612,Fashion,18,3,163,4377,Apparel,527,29,False
4,4,#5,25,Male,Suburban,49725,Travel,2,5,141,4502,Health & Beauty,53,10,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,#996,22,Male,Urban,104162,Technology,18,7,83,607,Apparel,542,21,False
996,996,#997,40,Male,Urban,99003,Travel,16,3,180,431,Apparel,359,4,True
997,997,#998,27,Female,Urban,72395,Technology,8,8,130,650,Books,331,34,False
998,998,#999,61,Male,Rural,59758,Travel,1,3,152,1041,Electronics,427,28,True
999,999,#1000,19,Male,Rural,74312,Sports,12,7,175,827,Health & Beauty,497,38,True